.stf-menu .stf-logo {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='138.182' height='24' viewBox='0 0 138.182 24'><g fill='#d73c3c'><path d='M21.598 13.27h3.953l-1.975-4.484zm43.907-2.606c-.027-.044-.05-.096-.08-.134C63.03 7.425 57.717 0 56.025 0H2.453C1.097 0 0 1.097 0 2.453v19.095C0 22.9 1.097 24 2.45 24h53.576c1.765 0 7.005-7.425 9.4-10.53.03-.04.05-.088.08-.135.265-.377.422-.836.422-1.335 0-.5-.158-.958-.422-1.335zm-52.943 6.084c-.712.59-1.66.888-2.817.888-1.624 0-3.094-.544-4.368-1.618l-.165-.138 1.154-1.385.165.135c1.045.86 2.14 1.294 3.263 1.294.588 0 1.06-.13 1.407-.382.35-.254.52-.585.52-1.01 0-.424-.16-.747-.49-.98-.33-.24-.882-.446-1.69-.64-.8-.193-1.414-.372-1.82-.53-.414-.16-.787-.374-1.11-.635-.646-.49-.96-1.222-.96-2.238 0-1.017.358-1.777 1.097-2.328.727-.542 1.64-.816 2.716-.816.692 0 1.388.116 2.07.34.61.204 1.152.487 1.613.838l.166.126-.98 1.38-.177-.134c-.3-.225-.682-.42-1.135-.575-1.118-.376-2.298-.36-2.94.05-.348.22-.516.543-.516.987 0 .445.167.777.514 1.013.342.232 1.077.485 2.188.754 1.11.27 1.96.65 2.522 1.14.57.492.848 1.197.848 2.154 0 .96-.35 1.717-1.073 2.313zm14.826.693l-1.09-2.474h-5.447l-1.088 2.475H17.8l4.79-10.88h1.966l4.793 10.88h-1.962zm13.115 0H33.7V6.56h1.836v9.138h4.967v1.744zM52.497 8.29H46.69v2.88h5.807v1.635H46.69v2.908l5.807-.02v1.73l-7.643.023V6.56h7.643v1.727zm24.68 2.855c-1.11-.27-1.845-.52-2.187-.755-.346-.234-.514-.567-.514-1.01 0-.445.168-.77.513-.988.644-.41 1.825-.425 2.94-.048.454.153.836.345 1.137.575l.178.135.98-1.383-.168-.127c-.465-.353-1.007-.634-1.612-.835-.68-.225-1.377-.345-2.07-.345-1.073 0-1.988.278-2.715.82-.74.55-1.098 1.312-1.098 2.326 0 1.017.315 1.748.96 2.237.324.26.697.476 1.11.637.406.158 1.02.333 1.822.528.806.192 1.358.402 1.688.635.33.24.49.56.49.985 0 .423-.17.755-.52 1.01-.348.253-.82.38-1.408.38-1.12 0-2.218-.435-3.26-1.292l-.168-.137-1.152 1.386.164.138c1.275 1.072 2.743 1.617 4.368 1.617 1.155 0 2.103-.297 2.817-.887.723-.596 1.075-1.35 1.075-2.31s-.278-1.665-.848-2.154c-.565-.488-1.414-.87-2.524-1.14zm7.706-2.903h3.298v9.2h1.84v-9.2h3.3V6.56h-8.437zm18.897-1.867c-1.61 0-2.982.54-4.08 1.61-1.093 1.067-1.648 2.42-1.648 4.017 0 1.595.555 2.945 1.65 4.014 1.093 1.07 2.467 1.613 4.078 1.613 1.61 0 2.984-.543 4.08-1.613 1.094-1.07 1.65-2.42 1.65-4.015 0-1.598-.556-2.95-1.65-4.018-1.096-1.07-2.47-1.61-4.08-1.61zm2.733 8.42c-.738.764-1.658 1.153-2.732 1.153-1.074 0-1.994-.39-2.732-1.152-.737-.763-1.112-1.703-1.112-2.793s.375-2.03 1.112-2.797c.74-.762 1.658-1.152 2.733-1.152 1.076 0 1.996.39 2.733 1.154.74.767 1.113 1.707 1.113 2.798 0 1.09-.372 2.03-1.112 2.793zm13.535-6.62c.62 0 1.168.098 1.626.293.412.175.855.477 1.315.896l.158.143 1.168-1.275-.142-.147c-1.103-1.14-2.478-1.72-4.086-1.72-1.68 0-3.09.547-4.19 1.62-1.1 1.073-1.657 2.436-1.657 4.047 0 1.61.547 2.964 1.628 4.018 1.077 1.052 2.454 1.586 4.093 1.586 1.568 0 2.932-.592 4.052-1.76l.145-.15-1.185-1.214-.15.137c-.444.394-.875.69-1.28.877-.454.213-1.002.32-1.636.32-1.01 0-1.9-.373-2.638-1.112-.738-.738-1.112-1.67-1.112-2.77s.378-2.02 1.12-2.725c.745-.707 1.678-1.065 2.772-1.065zm13.698 3.15l4.374-4.763h-2.337l-4.98 5.307V6.56h-1.837v10.88h1.838V14.39l1.587-1.71 3.612 4.763h2.18z'></path></g></svg>") no-repeat;
  width: 139px;
  height: 32px;
  float: left;
  text-indent: -9999em;
  margin: 10px 10px 0 0;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}

.stf-menu .stf-top-bar {
  height: 44px;
  padding: 0 10px 0 20px;
  width: 100%;
  float: left;
}

.stf-menu .stf-nav {
  padding-left: 15px;
  text-align: left;
  margin: 0;
  float: left;
}

.stf-menu .stf-nav > li {
  padding-right: 15px;
  float: left;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 0;
}

.stf-menu .stf-nav > li > a {
  display: inline-block;
  text-align: left;
  padding: 0 !important;
  padding-right: 18px !important;
  padding-left: 14px !important;
  font-size: 15px;
  line-height: 44px;
  color: #777777;
  font-weight: 400;
  height: 44px;
  position: relative;
}

.stf-menu .stf-nav > li > a > span.fa {
  display: inline-block;
  float: left;
  margin: 8px 8px 0 0;
  font-size: 28px;
}

.stf-menu .stf-nav > li > a > span.fa-mobile {
  font-size: 30px;
}

.stf-menu .stf-nav > li > a.current {
  color: #007aff;
}

.stf-menu.navbar {
  height: 44px !important;
  min-height: 44px !important;
}
